<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779256341790-cav2i8b4nm5vjd9bs7b6u0as49eq3stg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779256341790-cav2i8b4nm5vjd9bs7b6u0as49eq3stg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>779256341790-2p9kdua03ci76qcvrq4bp8nnmhr3nei5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7q6GVf5j5gvmBtDvNfpm_yvlRmWG3CjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>779256341790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easytalk.easytalk</string>
	<key>PROJECT_ID</key>
	<string>easy-talk-329310</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-talk-329310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779256341790:ios:814fdc8cc44031b4a9d50f</string>
</dict>
</plist>